body {
  background-color: #fff;
  color: #000;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2;
}
html {
  scroll-behavior: smooth;
}

.list1 {
  display: block;
  background-color: red;
  height: 100px;
  margin-bottom: 500px;
}

.list2 {
  display: block;
  background-color: aqua;
  height: 100px;
  margin-bottom: 500px;
}

.list3 {
  display: block;
  background-color: blueviolet;
  height: 100px;
  margin-bottom: 500px;
}

.list4 {
  height: 100px;
  display: block;
  background-color: blanchedalmond;
  margin-bottom: 500px;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%; 
  background-color: #D41443;
  display: none;
 
}

.back-to-top-show {
  display: block;
}


.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.5);
 
  outline: none;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-top::before {
  width: 5px;
  height: 25px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #fff;
}

.back-to-top::after {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #fff;
   border-left: 5px solid #fff;
}

.button {
  color: red;
  background-color: fuchsia;
  font-family: inherit;
  border-radius: 4px;
  border-color: transparent;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  padding: 10px 32px;
  margin-top: 30px;
 margin-left: 140px;
  cursor: pointer;
}

.backdrop-franchise {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

 .backdrop-franchise.is-hidden {
  opacity: 0;
   pointer-events: none;
 }

.modal-contact-franch {
  position: absolute;
  width: 95%;
  max-width: 450px;
  overflow: scroll;
   max-height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}



.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-link-franchise,
.button-franchise {
  
display: flex;
align-items: center;
justify-content: center;

 width: 161px;
height: 44px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
 
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-link-franchise {
  background-color: #D41443; 
 
 } 

 .button-franchise {
   background-color: #FFA5BA;
    margin-bottom: 10px;
 }

.button-box-franchise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

}

.modal-title {
  font-family: "Titan One";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #D41443;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 0;
  margin-bottom: 12px;

  padding: 0;
 
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    color: #FFA5BA;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  font-family: ;
}

.form-input {
 max-width: 370px;
 max-height: 40px;
  margin-top: 4px;
  padding: 10px;
  padding-left: 35px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 
}

textarea {
  resize: none;
}

.form-input {
    width: 308px;
    height: 20px;
  }


 .form-input:focus + .modal-svg {
   fill: darkblue ;
   border-color: darkorchid;
 }

.reset {
  margin-bottom: 20px;
}

.text-area {
   max-width: 370px;
   max-height: 120px;
  font-size: 14px;
  margin-top: 4px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
 .text-area:focus-within {
    border-color: forestgreen;
    outline: none;
  }


.form-label-checkbox {
  position: relative;
 

  font-size: 12px;

  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
}



/* .icon-ok-checbox {
  margin-right: 8px;
  display: inline-block;
  border: 2px solid black;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: focus 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

  /* .form-checkbox:checked + .icon-ok-checbox,
  .form-checkbox:focus:checked + .icon-ok-checbox {
    background: blueviolet;
    border-color: red;
    /* background-image: url(../img/icon-policu-ok/okpolicy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box; */
  /* } */
/* 
  .form-checkbox:focus-visible + .icon-ok-checbox {
    border: 2px solid teal; */
  /* } */ 












